<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc file="docs/index.xml"/>
   </extension>
   <extension
         point="org.eclipse.eclipsemonkey.scriptpath">
      <scriptpath directory="scripts"/>
   </extension>
       <extension
             point="com.aptana.ide.snippets.snippetspath">
          <snippetsinfo directory="snippets"/>
       </extension>
          <extension
         point="com.aptana.ide.projects.library">
      <libraryinfo
            directory="libraries"
            iconFile="icons/aflax_small.png"
            name="Aflax 1.0"/>
       </extension>
          <extension
                point="com.aptana.ide.samples.samplespath">
             <samplesinfo
                   directory="samples"
                   iconFile="icons/aflax_small.png"
                   name="Aflax Samples"
                   previewHandler="com.aptana.ide.documentation.samples.AjaxSamplesPreviewHandler">
		          <include path="libraries/lib"/>
		          <nature id="com.aptana.ide.project.nature.web"/>
		    </samplesinfo>
          </extension>
		   <extension
                point="com.aptana.ide.update.feature">
             <feature
                   id="org.aflax.1.0">
             </feature>
          </extension>  
          </plugin>
